---
layout: default
title: David Laing
---

<div class="home">
<h1>Welcome!</h1>
<p>
    I'm David Laing. I'm a senior data scientist at <a href="https://www.imbellus.com/">Imbellus</a>, a startup that builds simulation-based cognitive assessments.
    <br><br>
    I write this blog to share my learning, to give more life to ideas that I think are underappreciated, and to make it easier for my future friends to find me. Perhaps you are one of them? Say hello on <a href="https://twitter.com/davidklaing">Twitter</a>, or let me send you a monthly note with links to what I'm reading and writing:
    <br><br>
    <iframe width="100%" height="320" src="https://davidlaing.substack.com/embed" frameborder="0" scrolling="no"></iframe>
</p>


  <div class="post-list">
    <h2>Recent posts</h2>

    {% for post in site.posts limit:5%}
    
    <article class="post_card post">
      <header class="post_header">
        <h3 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %} 
          <a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> »  </a>
        </p> 
      </div>
    </article>
    {% endfor %}
    
    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> Archive </a></div>
  </div>
</div>
