---
layout: default
title: David Laing
---

<div class="home">
<h1>Welcome!</h1>
<p>
    I'm David Laing. I write about data science, books, productivity, and other topics.
    <br><br>
    I'm a senior data scientist at <a href="https://www.imbellus.com/">Imbellus</a>, a venture-backed startup that is building cognitive assessments.
    <br><br>
    Once a year I teach a course on communication and argumentation, in the <a href="https://masterdatascience.science.ubc.ca/">Master of of Data Science program</a> at the University of British Columbia.
    <br><br>
</p>

  <div class="post-list">
    <h2>Recent posts</h2>

    {% for post in site.posts limit:5%}

    <article class="post_card post">
      <header class="post_header">
        <h3 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %} 
          <a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> »  </a>
        </p> 
      </div>
    </article>
    {% endfor %}

    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> Archive </a></div>
  </div>
</div>
