<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <div class="container">
        
        <div class="two columns" style="position: absolute;">
          {% include header.html %}
        </div>
        <div class="nine columns" style="z-index:100; right:0px">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
      </div>
      {% include analytics.html %}
      <!-- {% include footer.html %}  -->
    </div>
  </body>
</html>
